<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="fragments/fragment :: title('Add Car')"></title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2>Hello!</h2>
	
	<h3>Tambah Mobil</h3>
	<form th:action="@{/car/add/} + ${dealer.id}" th:object="${dealer}" method="POST">
		<input  type="hidden" th:field="*{id}"></input>
		<table>
			<thead>
    			<tr>
        			<th>Brand</th>
					<th>Type</th>
					<th>Price</th>
					<th>Amount</th>
      				<th><button type="submit" name="addRow">Add row</button></th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr th:each="car,rowStat : *{listCar}">
     				<td><input type="text" th:field="*{listCar[__${rowStat.index}__].brand}" /></td>
					<td><input type="text" th:field="*{listCar[__${rowStat.index}__].type}" /></td>
					<td><input type="number" th:field="*{listCar[__${rowStat.index}__].price}" /></td>
					<td><input type="number" th:field="*{listCar[__${rowStat.index}__].amount}" /></td>
      				<td><button type="submit" name="removeRow" th:value="${rowStat.index}">Remove</button></td>
    			</tr>
  			</tbody>
		</table>
		<button type="submit" name="save">Submit</button>
	</form>
</body>

<td><a th:href="@{/}">Home</a></td>

</html>