<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- <title th:text="'Car Updated: ' + ${oldCar.id}"></title> -->
	<title th:replace="fragments/fragment :: title('Car Updated')"></title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2>Hello!!</h2>
	
	<h3>Car Update</h3>
	<form th:action="@{/car/update{id}(id=${car.id})}" th:object="${car}" method="POST">
		<input type="hidden" th:field="*{dealer}" />
		Brand: <br>
		<input type="text" name="brand" th:field="${car.brand}"/>
		<br>
		Type: <br>
		<input type="text" name="type" th:field="${car.type}"/>
		<br>
		Price: <br>
		<input type="number" name="price" th:field="${car.price}"/>
		<br>
		Amount: <br>
		<input type="number" name="amount" th:field="${car.amount}"/>
		<br>
		<br><br>
		<button type="submit">Submit</button>
	</form>
	
</body>

</html>